.container {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
}


.name {
    font-weight: 300;
    font-size: 40px;
    line-height: 0.25em;
}


.job-title {
    font-weight: 300;
    font-size: 15px;
}


.class {
    max-width: 100%;
}


.center {
    text-align: center;
}


.header-divider {
    height: 3px;
    background-color: #7d97ad;
}


.social {
    padding-top: 10px;
}


.app-wrapper {
    display: flex;
    flex-wrap: wrap;
}


.app {
    margin-top: 0;
    text-align: left;
}


.app img {
    height: 200px;
}


a {
    text-decoration: none;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width: 415px) {
    .name {
        font-size: 22px;
    }


    .job-title  {
        font-size: 14px;
    }


    .featured,
    .flex-app h3 {
        font-size: 22px;
    }


    .app img {
    height: auto;
    }
}


@media screen and (min-width: 851px) {
    .mockup,
    .animal,
    .baseball {
        width: 33%;
    }


    .app1,
    .app2,
    .app3 {
        width: 33%;
    }
}


@media screen and (max-width: 850px) {
    .mockup,
    .animal {
        width: 50%;
    }


    .app1,
    .app2,
    .app3,
    .app4 {
        width: 50%;
    }


    .flex-container {
        max-width: 950px;
        margin: 0 auto;
    }
}


@media screen and (max-width: 625px) {
    .featured {
        text-align: center;
    }


    .flex-app {
        margin: 0 auto;
        width: 100%;
    }


    .flex-app img {
        height: auto;
        width: 100%;
    }


    .app1,
    .app2,
    .app3,
    .app4 {
    width: 100%;
    }
}


.app1,
.app2,
.app3,
.app4 {
    width: 300px;
    height: 325px;
    border: 1px solid white;
}


 .flex-app img {
    opacity: .7;
    transition: .3s ease-in-out;
    height: 200px;
}


.flex-app img:hover {
    opacity: 1;
}


.flex-app .info {
    visibility: hidden;
    bottom: 150px;
    text-align: center;
    position: relative;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 22px;
}


.logo, .name-div {
    padding: 0;
}